---
layout: default
ai_gfg_homepage: true 
---

<div class="ai-gfg">
  <div id="ai-gfg__hero">
    <section class="usa-grid usa-section">
      <h1>AI Guide for Government</h1>
      <p>
        A living and evolving guide to the application of Artificial
        Intelligence for the U.S. federal government.
      </p>
    </section>
    <!-- /.usa-grid -->
  </div>

  <section class="usa-grid usa-section usa-layout-docs">
    <aside class="usa-width-one-fourth usa-layout-docs-sidenav sidenav">
      {% include ai-gfg-sidenav.html  %}
    </aside>
    <div class="usa-width-three-fourths usa-layout-docs-main_content ai-gfg__content">
      <div class="clearfix">
      <article class="usa-content">
        <p class="intro">
          AI Guide for Government is a collection of chapters designed to capture
          the excitement, challenges, and opportunities surrounding AI as an
          enabling technology for leaders and decision makers across the federal
          government.
        </p>
        <p>This guide will provide clarity, education, and guidance around:</p>
        <ol>
          <li>what AI as a set of technologies is</li>
          <li>what it can and cannot do</li>
          <li>how to apply it to federal agencies’ mission areas.</li>
        </ol>
        <p>
          AI Guide for Government is meant to be a living and evolving guide to
          the application of AI for the U.S. Federal Government. If you have
          feedback for existing modules, or suggestions for additional modules,
          please
          <a href="https://strapi-api-host-prod.app.cloud.gov/feedback"
            >provide feedback</a
          >.
        </p>
        </article>
        {% include ai-gfg-next-prev.html  %}
      </div>
    </div>    
  </section>
</div>

<link
  rel="stylesheet"
  type="text/css"
  href="styles.css"
/>

