@charset "UTF-8";
/* CSS Document */
.playbook-intro {
    background-color: #000000;
    background-image: url('../../images/chalkboard-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:#ffffff;
}
.playbook-intro h1 {
    border-bottom:none;
    color:#ffffff;
    font-size: 4.8rem;
    font-weight: 300;
    margin-bottom: 2rem !important;
}
.playbook-intro p {
    font-size: 2rem;
    font-weight:300;
}
.playbook-intro p:last-of-type {
     margin-bottom: 2rem;   
}
.plays-index {
    background-color: #f2f2f2;
}
.plays-index ol,
.plays-index ul {
    margin:0;
    list-style-position: inside;
    padding-left: 0px;
}
.plays-index ol>li,
.plays-index ul>li {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0;
    padding-bottom: 1rem;
}
.plays-index ol>li a {
    vertical-align: top;
    margin-top: 0;
    display: inline-block;
    width: 85%;
}
#navigation_bar {
    visibility: hidden;
    display: none;
    position: fixed;
    top:0;
    width: 100%;
    height: 0;
    background-color: #000000;
    background-image: url('../../images/chalkboard-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:#ffffff;
    transition: all 0.3s;
}
#navigation_bar.show {
    visibility: visible;
    display: block;
    height: 60px;
}
#navigation_bar h3 {
    padding: 20px 0;
    margin-top: 0;
    font-weight: 300;
    color: #fff;
    display: inline-block;
}
#navigation_bar ul {
    float: right;
    display: inline;
    padding: 0;
    list-style-position: outside;
}
#navigation_bar li {
    display: inline;
    margin-left: 5px;
    list-style-type: none;
}
#navigation_bar li a {
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 22px;
    text-align: center;
    font-weight: lighter;
    text-decoration: none;
    color: #fff;
    border: 1px solid #0071bc;
}
#navigation_bar .active a {
    background: #0071bc;
    color: #fff;
    text-decoration: none;
}
#navigation_bar #menu_icon {
    display: none;
    height: 14px;
    width: 16px;
    margin-top: 22px;
    float: right;
    background-image: url(../../images/menu_icon.svg);
    background-size: contain;
}
#navigation_bar #menu_icon a {
    display: block;
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 980px) {
    #navigation_bar ul {
        display: none;
    }
    #navigation_bar #menu_icon {
        display: inline-block;
    }
}

.anchor_offset {
    border-top: 1px solid #fdb81e;
    margin-top: 4rem;
    padding-top:2rem;
    display:block;
    height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.play h6 {
    background-color:#2a2a2a;
    padding: 0.3rem 0.6rem;
    margin-top:2rem;
    margin-bottom: 0.6rem;
    display: inline-block;
    color:#ffffff;
}
.play h2 {
    margin-top: 0;
    margin-bottom: 1rem;
}
.play ol,
.play ul {
    display: block;
    list-style-position: outside;
    padding-left: 2.4rem;
}
.play ol {
    list-style-image: url('../../images/bullet-sq.svg');
    margin-top: 0;
}
.play ul {
    list-style-image: url(../../images/bullet-circle.svg);
    margin-top: 0;
}
.play ol>li,
.play ul>li {
    padding-left: 0.5rem;
    font-size: 1.6rem;
}