{% assign gfg_pages = site.ai_guide_for_government %}

{% if page.collection %}
  {% for links in gfg_pages %}
    {% if links.title == page.title %}
      {% unless forloop.first %}
        {% assign prevurl = prev.url %}
      {% endunless %}
      {% unless forloop.last %}
        {% assign next = gfg_pages[forloop.index] %}
        {% assign nexturl = next.url %}
      {% endunless %}
    {% endif %}
    {% assign prev = links %}
  {% endfor %}
{% else %}
  {% assign prevurl = false %}
  {% assign next = gfg_pages | first %}
  {% assign nexturl = next.url %}
{% endif %}

<nav class="ai-gfg__page-nav">
  {% if prevurl %}
  <div class="ai-gfg__page-nav__prev">
    <a class="usa-button usa-button-secondary" rel="prev" href="{{site.baseurl}}{{prevurl}}">Previous article</a>
  </div>
  {% endif %}
  {% if nexturl %}
  <div class="ai-gfg__page-nav__next">
    <a class="usa-button" rel="next" href="{{site.baseurl}}{{nexturl}}">Next article</a>
  </div>
  {% endif %}
</nav>
