{% assign ucl_pages = site.ai_use_case_library %}

{% if page.collection %}
  {% for links in ucl_pages %}
    {% if links.title == page.title %}
      {% unless forloop.first %}
        {% assign prevurl = prev.url %}
      {% endunless %}
      {% unless forloop.last %}
        {% assign next = ucl_pages[forloop.index] %}
        {% assign nexturl = next.url %}
      {% endunless %}
    {% endif %}
    {% assign prev = links %}
  {% endfor %}
{% else %}
  {% assign prevurl = false %}
  {% assign next = ucl_pages | first %}
  {% assign nexturl = next.url %}
{% endif %}

<nav class="ai-ucl__page-nav">
  {% if prevurl %}
  <div class="ai-ucl__page-nav__prev">
    <a class="usa-button usa-button-secondary" rel="prev" href="{{site.baseurl}}{{prevurl}}">Previous use case</a>
  </div>
  {% endif %}
  {% if nexturl %}
  <div class="ai-ucl__page-nav__next">
    <a class="usa-button" rel="next" href="{{site.baseurl}}{{nexturl}}">Next use case</a>
  </div>
  {% endif %}
</nav>
