<div class="sidebar-box-content  communities-sidebar-main-text">
	<img src="{{site.baseurl}}/img/ai-sidebar-photo.jpg" alt="">
	<h4 class="">Grow your Expertise in Areas that Matter Across Government</h4>
	<p><strong>Communities of practice</strong> are government-wide interest groups that provide opportunities for members to support, challenge and inspire one another. Cross-disciplinary and cross-agency by design, the goal of the communities is to expand your knowledge and practice in a given area of interest. You get what you give, so we encourage active participation through networking, discussions, live and virtual events and more.</p>

	<h4>Active CoPs</h4>
	<ul>
		<li><a href="{{site.baseurl}}/communities/ai.html">Artificial Intelligence (AI CoP)</a></li>
		<li><a href="{{site.baseurl}}/communities/contact-center.html">Contact Center (G3C)</a></li>
		<li><a href="{{site.baseurl}}/communities/cx.html">Customer Experience (CX CoP)</a></li>
		<li><a href="{{site.baseurl}}/communities/innovation-adoption.html">Innovation Adoption (IA CoP)</a></li>
		<li><a href="{{site.baseurl}}/communities/it-acq.html">IT Acquisition (IT Acq CoP)</a></li>
	</ul>
	<p><strong>Note:</strong> These CoPs were previously hosted on Digital.gov. When participating in this CoP, follow <a href="https://digital.gov/communities/manage-your-subscription/" target="_blank">Digital.gov</a> Community Guidelines.</p>
</div>
