<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% if page.title %}
  <title>{{ page.title }} — {{ site.name }} | GSA</title>
  <meta property="og:title" content="{{ page.title | xml_escape }}" />
  <meta property="og:site_name" content="{{ site.name | xml_escape }}">
  {% else %}
  <title>{{ site.name }} | GSA</title>
  <meta property="og:title" content="{{ site.name | xml_escape }}" />
  <meta property="og:site_name" content="{{ site.name | xml_escape }}">
  {% endif %}
  {% if page.description %}
  <meta name="description" content="{{ page.description | xml_escape }}">
  <meta property="og:description" content="{{ page.description | xml_escape }}" />
  {% else %}
  <meta name="description" content="{{ site.description | xml_escape }}">
  <meta property="og:description" content="{{ site.description | xml_escape }}" />
  {% endif %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | xml_escape }}" />

  <!-- Le CSS -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/uswds.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css?{{ site.time | date: "%Y%m%j%H%M%S" }}">

  <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}/assets/js/html5.js"></script>
    <script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
  <![endif]-->

  <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}/assets/img/fox.png" />

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PBX86M3');</script>
  <!-- End Google Tag Manager -->

</head>
