<section class="usa-hero">
    <div class="usa-grid">
        <div class="flex-container">
            <div class="usa-hero-callout usa-section-dark">
                <h1>Accelerating modernization across government</h1>
                <div class="flex-container">
                    <a class="usa-button usa-button-big" href="{{site.baseurl}}/about/approach-team-structure.html#our-approach">Learn More</a>
                </div> <!-- /.flex-container -->
            </div> <!-- /.usa-hero-callout -->
        </div> <!-- /.flex-container -->
    </div>
</section>
