{% if include.initiative == "Customer Experience" %}
    <a href="{{site.baseurl}}/coe/customer-experience.html" class="article-coe-link">CUSTOMER EXPERIENCE</a>
{% elsif include.initiative == "Centers of Excellence" %}
    <a href="{{site.baseurl}}/coe/centers-of-excellence.html" class="article-coe-link">CENTERS OF EXCELLENCE</a>
{% elsif include.initiative == "Cloud Adoption" %}
    <a href="{{site.baseurl}}/coe/cloud-adoption.html" class="article-coe-link">CLOUD ADOPTION</a>
{% elsif include.initiative == "Contact Center" %}
    <a href="{{site.baseurl}}/coe/contact-center.html" class="article-coe-link">CONTACT CENTER</a>
{% elsif include.initiative == "Data Analytics" %}
    <a href="{{site.baseurl}}/coe/data-analytics.html" class="article-coe-link">DATA ANALYTICS</a>
{% endif %}
