<div class="usa-grid">
    <h2 class="centers-subhead"><a href="{{site.baseurl}}/coe/centers-of-excellence.html">The Centers of Excellence</a></h2>
    <p class="centers-subtext">These centers may change or grow to fit the needs of different sectors of government.</p>
    <div class="usa-width-one-fifth">
        <a href="{{site.baseurl}}/coe/cloud-adoption.html" class="card-link coe-ca-link">
            <div class="centers-graphic"></div>
            <div class="card-link-text">
                <h3>Cloud Adoption</h3>
                <p>Help agencies adopt modern practices and policies, integrating the best of digital technologies and management methods into their organization operations and structure.</p>
            </div> <!-- /.card-link-text -->
        </a>
    </div> <!-- /.usa-width-one-fifth -->
    <div class="usa-width-one-fifth">
        <a href="{{site.baseurl}}/coe/contact-center.html" class="card-link coe-cc-link">
            <div class="centers-graphic"></div>
            <div class="card-link-text">
                <h3>Contact Center</h3>
                <p>Support agencies in connecting customers with the right resources and expertise across all information channels. </p>
            </div> <!-- /.card-link-text -->
        </a>
    </div> <!-- /.usa-width-one-fifth -->
    <div class="usa-width-one-fifth">
        <a href="{{site.baseurl}}/coe/customer-experience.html" class="card-link coe-cx-link">
            <div class="centers-graphic"></div>
            <div class="card-link-text">
                <h3>Customer Experience</h3>
                <p>Work with agencies to develop a better understanding of their customers and their needs and help translate those findings into actions that create outstanding experiences.</p>
            </div> <!-- /.card-link-text -->
        </a>
    </div> <!-- /.usa-width-one-fifth -->
    <div class="usa-width-one-fifth">
        <a href="{{site.baseurl}}/coe/data-analytics.html" class="card-link coe-da-link">
            <div class="centers-graphic"></div>
            <div class="card-link-text">
                <h3>Data Analytics</h3>
                <p>Provide data and analytics best practices, instrument metrics to support service delivery processes, and builds tools that facilitate continuous process improvement.</p>
            </div> <!-- /.card-link-text -->
        </a>
    </div> <!-- /.usa-width-one-fifth -->
    <div class="usa-width-one-fifth">
        <a href="{{site.baseurl}}/coe/infrastructure-optimization.html" class="card-link coe-io-link">
            <div class="centers-graphic"></div>
            <div class="card-link-text">
                <h3>Infrastructure Optimization</h3>
                <p>Assist agencies with the development of a unified and optimized IT infrastructure, leveraging federally owned data centers, cloud computing services, and commercial data centers.</p>
            </div> <!-- /.card-link-text -->
        </a>
    </div> <!-- /.usa-width-one-fifth -->
</div> <!-- /.usa-grid -->