<div class="usa-grid">
    <h2 class="centers-subhead"><a href="{{site.baseurl}}/coe/centers-of-excellence.html">The Centers of Excellence</a></h2>
    <p class="centers-subtext">These centers may change or grow to fit the needs of different sectors of government.</p>
    <div class="usa-width-one-fifth">
             <a href="{{site.baseurl}}/coe/artificial-intelligence.html" class="card-link coe-ai-link">
            <div class="centers-graphic"></div>
            <div class="card-link-text">
                <h3>Artificial Intelligence</h3>
                <p>The Artificial Intelligence (AI) CoE enables agencies to develop AI solutions to meet unique business challenges by incorporating machine learning, computer vision, natural language processing, intelligent process design, and robotic process automation (RPA) across the organization.</p>
            </div> <!-- /.card-link-text -->
        </a>
        <a href="{{site.baseurl}}/coe/cloud-adoption.html" class="card-link coe-ca-link">
            <div class="centers-graphic"></div>
            <div class="card-link-text">
                <h3>Cloud Adoption</h3>
                <p>Analyzes current systems and applications to provide recommendations for planning cloud migration.</p>
            </div> <!-- /.card-link-text -->
        </a>
    </div> <!-- /.usa-width-one-fifth -->
    <div class="usa-width-one-fifth">
        <a href="{{site.baseurl}}/coe/contact-center.html" class="card-link coe-cc-link">
            <div class="centers-graphic"></div>
            <div class="card-link-text">
                <h3>Contact Center</h3>
                <p>Helps improve contact center delivery services and customer interactions.</p>
            </div> <!-- /.card-link-text -->
        </a>
    </div> <!-- /.usa-width-one-fifth -->
    <div class="usa-width-one-fifth">
        <a href="{{site.baseurl}}/coe/customer-experience.html" class="card-link coe-cx-link">
            <div class="centers-graphic"></div>
            <div class="card-link-text">
                <h3>Customer Experience</h3>
                <p>Works to develop a better understanding of customer needs and helps translate those findings into actions.</p>
            </div> <!-- /.card-link-text -->
        </a>
    </div> <!-- /.usa-width-one-fifth -->
    <div class="usa-width-one-fifth">
        <a href="{{site.baseurl}}/coe/data-analytics.html" class="card-link coe-da-link">
            <div class="centers-graphic"></div>
            <div class="card-link-text">
                <h3>Data Analytics</h3>
                <p>Helps make more efficient use of data management, analysis, and reporting capabilities.</p>
            </div> <!-- /.card-link-text -->
        </a>
    </div> <!-- /.usa-width-one-fifth -->
    <div class="usa-width-one-fifth">
        <a href="{{site.baseurl}}/coe/infrastructure-optimization.html" class="card-link coe-io-link">
            <div class="centers-graphic"></div>
            <div class="card-link-text">
                <h3>Infrastructure Optimization</h3>
                <p>Assists in optimizing data centers and reducing infrastructure costs.</p>
            </div> <!-- /.card-link-text -->
        </a>
    </div> <!-- /.usa-width-one-fifth -->
</div> <!-- /.usa-grid -->
