@charset "UTF-8";
/* CSS Document */
.data-story #data-hero {
    text-align: center;
    background-color: #2a2a2a;
    background-image: url('images/data-hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:#ffffff;
}
.data-story #data-hero .usa-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.data-story #data-hero h1 {
    border-bottom: none;
    margin-bottom: 0;
    text-shadow: 2px 2px 8px #2a2a2a;
}
.data-story #data-hero p {
    font-size: 2.2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0.2rem;
    letter-spacing: 0.2em;
    text-shadow: 2px 2px 8px #2a2a2a;
}
.data-story #data-overview {
    background-color: #ededed;
    background-image: url('images/data-overview.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tips {
    text-align: center;
    background-color:#3476CD;
    color:#ffffff;
    position: relative;
    -webkit-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.07);
    -ms-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.07);
    -o-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.07);
}
.tips p {
    margin:0;
    padding:2rem;
    font-size: 2.8rem;
    font-weight: 300;
}
.overview-img {
    position: relative;
    margin-top: 8rem !important;
    width: 80%;
    height:auto;
    float: right;
    transform: translateX(150px);
    animation: on-load 0.8s ease forwards;
}
.why-box {
    display: block;
    position: relative;
    margin-top: 5rem;
    background-color: #f2f2f2;
    color: #000000;
    border:1px solid #ededed;
    padding: 2rem 2rem 2rem 5rem;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.why-box::before {
    content: '';
    width:88px;
    height: 72px;
    position: absolute;
    top:-27px;
    left:-37px;
    background-image: url(images/why-2x.png);
    background-repeat: no-repeat;
    background-size: 88px 72px;
}
.data-story #data-story-1,
.data-story #data-story-2,
.data-story #data-story-3,
.data-story #data-story-4,
.data-story #data-story-5,
.data-story #data-story-6,
.data-story #data-story-7 {
    min-height: 60rem;
    position: relative; 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.continue {
    position: absolute;
    width: 5rem;
    height: 5rem;
    z-index: 10;
    bottom: -2.5rem;
    left: 50%;
    margin-left: -2.5rem;
}
.data-story #data-story-1 h2,
.data-story #data-story-2 h2,
.data-story #data-story-3 h2,
.data-story #data-story-4 h2,
.data-story #data-story-5 h2,
.data-story #data-story-6 h2,
.data-story #data-story-7 h2 {
    position: relative;
    padding-left: 8rem;
}
.data-story #data-story-1 h2::before,
.data-story #data-story-2 h2::before,
.data-story #data-story-3 h2::before,
.data-story #data-story-4 h2::before,
.data-story #data-story-5 h2::before,
.data-story #data-story-6 h2::before,
.data-story #data-story-7 h2::before {
    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 12rem;
    line-height: 1;
    position: absolute;
    top: -3.4rem;
    left: -1rem;
    padding-right:1rem;
    border-right:1px solid #4391f7;
}
.data-story #data-story-6 h2::before {
    border-right-color:#ffffff;
}
.data-story #data-story-7 h2::before {
    border-right-color:#000000;
}
.data-story #data-story-1 h2::before{content: '1';}
.data-story #data-story-2 h2::before{content: '2';}
.data-story #data-story-3 h2::before{content: '3';}
.data-story #data-story-4 h2::before{content: '4';}
.data-story #data-story-5 h2::before{content: '5';}
.data-story #data-story-6 h2::before{content: '6';}
.data-story #data-story-7 h2::before{content: '7';}
.data-story #data-story-1 {
    background-color: #f2f2f2;
    background-image: url('images/1-what-is-your-story.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.data-story #data-story-1 .module,
.data-story #data-story-2 .module,
.data-story #data-story-3 .module,
.data-story #data-story-4 .module,
.data-story #data-story-5 .module,
.data-story #data-story-6 .module,
.data-story #data-story-7 .module {
    position: relative;
}
.data-story #data-story-2 {
    background-color: #1b2228;
    color:#ffffff;
    background-image: url('images/2-who-is-your-audience.jpg');
}
.data-story #data-story-3 {
    background-color: #f2f2f2;
    color:#ffffff;
    background-image: url('images/3-what-is-the-best-communication.jpg');
}
.data-story #data-story-4 {
    background-color: #ededed;
    background-image: url('images/4-what-visuals.jpg');
}
.data-story #data-story-5 {
    background-color: #f2f2f2;
    background-image: url('images/5-what-is-your-narrative.jpg');
}
.data-story #data-story-6 {
    background-color: #ededed;
    background-image: url('images/6-frame-your-story.jpg');
}
.data-story #data-story-7 {
    background-color: #f2f2f2;
    background-image: url('images/7-takeaways.jpg');
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}
@keyframes on-load {
  to { transform: translateX(0); }
}
@media screen and (max-width: 1280px) {
    .why-box {
        margin-left:3.5rem;
    }
}
@media screen and (max-width: 992px) {
    .tips p { 
         font-size:1.8rem;   
    }
    .overview-img {
        width: 100%;
        height:auto;
        float: none;
        margin-top:2rem !important;
    }
}
@media screen and (max-width: 768px) {
    .data-story .usa-width-one-half {
        width:75%;
    }
    .data-story #data-story-1 {
        background-position: -300px;
    }
}
@media screen and (max-width: 600px) {
    .data-story .usa-width-one-half {
        width:100%;
    }
    .data-story #data-story-1,
    .data-story #data-story-2,
    .data-story #data-story-3,
    .data-story #data-story-4,
    .data-story #data-story-5,
    .data-story #data-story-6,
    .data-story #data-story-7 {
        min-height: none;
        height:auto;
    }
}