body{
  color: #212346;
  font-size: $base-font-size;
}
.hidden{
  display: none;
}

.deck{
  margin-bottom: 1.5em;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 2.75rem;
  font-weight: 500;
}

.big-quote{
  margin-bottom: 0.5em;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 5.5rem;
  font-weight: 800;
}


.post-meta{
  margin-top: 50px;
}

// expanding the text column
.usa-content .usa-layout-docs-main_content p{
  max-width: none;
}



.emoji{
  // width:
}
