

// Controls the height and color of the navbar
.usa-header{
  background: #212346;
  border: none;
  .usa-navbar{
    height: auto;

    .usa-logo{
      float: none;
      img{
        width: 60px;
        // float:left;
      }
      .title{
        margin-bottom: 2rem;
        // margin-left: 15px;
        // width: 600px;
        h1{
          font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
          font-size: 3rem;
          a{
            color:#fff;
          }
        }
        h2{
          margin:0;
          font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
          color:#fff;
          font-size: 2rem;
          font-weight: 400;
        }
      }
    }


    .contribute{
      margin: 0;
      float: right;
      top: 40px;
      position: relative;
      display: none;
    }
  }
}


@media screen and (min-width: 600px) {
  .usa-header{
    .usa-navbar{
      // height: 8rem;
    }
  }
}
@media screen and (min-width: 951px) {
  .usa-header{
    .usa-navbar{
      // height: 10rem;
      .usa-logo{
        margin: 0;
        padding: 15px 0 0 0;
        img{
          float: left;
        }
        .title{
          margin-top: 4px;
          margin-left: 12px;
          float: left;
          h1{
            font-size: 2.5rem;
          }
          h2{
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1201px) {
  .usa-header{
    .usa-navbar{
      // height: 10rem;
      .contribute{
        top: 40px;
        display: block;
      }
    }
  }
}
