.nav-list{
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 20px 0;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  font-size: 30px;
  font-weight: 800;
  li{
    list-style-type: none;
    a{
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}
