// Quote Box

#quote-frame{
  margin-bottom: 5rem;
  .paper{
    background: #2ad2b4;
    padding: 30px 40px 50px 40px;
    .quote{
      font-size: 2.5rem;
      font-weight: 900;
      font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
      text-indent: -20px;
      display: none;
      span{
        margin-top: 10px;
        margin-left: 0;
        display: block;
        text-indent: 0;
        font-size: 1.75rem;
        font-weight: 400;
        line-height: 24px;
        font-style: normal;
      }
    }
    .active{
      display: block;
    }
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #quote-frame {
    .paper{
      padding: 40px 65px 55px 65px;
      .quote{
        font-size: 4rem;
        text-indent: -30px;
        span{
          margin-top: 20px;
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }

  #quote-box {
    margin-top: 0;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
