// Quote Box

#quote-frame{
  margin-bottom: 5rem;
  .paper{
    .quote{
      font-size: 4.5rem;
      font-weight: 900;
      font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
      text-indent: -34px;
      display: none;
      span{
        margin-top: 20px;
        margin-left: 0;
        display: block;
        text-indent: 0;
        font-size: 2.5rem;
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
      }
    }
    .active{
      display: block;
    }
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #quote-box {
    margin-top: 0;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
