.usa-content .usa-layout-docs-sidenav{
  margin-top: 4rem;
  width: 100%;
  border-top:3px solid #212346;
  ul.usa-sidenav-list{
    max-width: none;
    li {
      font-weight: bold;
      li{
        font-weight: normal;
      }
    }
  }
}

@media screen and (min-width: 1201px) {
  .usa-content .usa-layout-docs-sidenav{
    margin-top: 0;
    border:none;
    width: 23.23176%;
    ul.usa-sidenav-list{
      max-width: 53rem;
    }
  }
}

@media screen and (min-width: 600px) {
  .usa-nav{
    display: none;
  }
}
