.page-nav{
  margin-bottom: 1.5em;
  font-weight: bold;
}


.updates{
  margin: 40px 0 0 0;
  padding: 10px 0;
  h2{
    margin:20px 0;
  }
  article{
    clear: both;
    padding: 10px 0;
    h3{
      margin:0 0 10px 0;
      font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
      a{
        color: #000;
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
      .date{
        margin-left: 5px;
        font-size: 1.6rem;
        color: #555;
      }
    }
    h6{
      margin: 0;
      font-weight: bold;
      font-size: 14px;
      a{
        text-decoration: none;
      }
      a{
        text-decoration: none;
      }
    }
    p{
      margin-top: 0;
    }
  }
}


#latest-updates{

}


#coe-updates{
  border-top: 1px #000 solid;
  article{
    margin-bottom: 30px;
    border-top: 1px #000 solid;
    p{
      margin-top: 0;
    }
  }
  article.first{
    border: none;
  }

}
