---
layout: communities
title: Artificial Intelligence
tagline: Join the conversation
intro: "Artificial intelligence, the ability of machines to pattern human behavior at scale, is used in an increasing number of ways to help government agencies meet their missions."

testimonial: The AI Community of Practice and the cross-agency collaboration it has fostered has been instrumental in providing the diversity of thought that has shaped my responsible AI work.
testimonial-citation: Maria Patterson, Presidential Innovation Fellow, Department of Labor

---

<section class="usa-section communities-header cop-artifical-intelligence">
	<div class="usa-grid ">
	
		<div class="usa-width-one-whole">
			<h1>Community of Practice: <strong>{{ page.title }}</strong></h1>
			<p class="intro cop-intro">{{ page.tagline }}</p>
		</div>
	</div>
	</section>
		
<section class="usa-section communities-page-intro ">
	<div class="usa-grid ">
		<div class="usa-width-one-whole">
			<p>{{ page.intro }}</p>

		</div>	
	</div>
	
</section>		

<section class="usa-grid usa-section">  


<div class="usa-width-two-thirds">

      <h2>About the AI Community of Practice</h2>
	<div class="community-about">
      	<p>The <strong>Artificial Intelligence Community of Practice (AI CoP)</strong> unites federal employees who are active or interested in AI policy, technology, standards, and programs to accelerate the thoughtful adoption of AI across the federal government. We are an active community of 1200 members across 60 federal agencies.</p>

		<p>Any federal employee or mission-supporting contractor is welcome to become a member of the AI CoP. Members can join monthly community meetings, participate in working groups, attend virtual trainings & events, and connect with their peers through the CoP’s listserv.</p>

		<p>Founded in partnership with the office of the Federal Chief Information Officer (CIO) at the Office of Management and Budget (OMB) in 2020,  the AI CoP supports the practical implementation of responsible AI in the federal government. We bring federal employees together through a monthly newsletter, events, and working groups.</p>
		
		<p><strong>Our vision:</strong> The responsible deployment of artificial intelligence and machine learning is a fully integrated and normalized practice within the U.S. Government.
 		<p><strong>Our mission:</strong> To collectively build a knowledge base and inter-agency forum on best practices, tools, and resources that enable the federal workforce to responsibly deploy artificial intelligence and machine learning.
  
	</div>

  
   <h2 id="cop-events">Events</h2>
	<p>The AI CoP regularly organizes and runs events for government-wide audiences to share opportunities and challenges with the responsible deployment of AI in the federal government, promoting key AI case studies and showcasing best practices. The AI CoP also hosts monthly huddles to connect AI leaders, practitioners, and researchers through an open forum.</p>

	<p>Community members can find past presentations & resources on our <a href="https://community.max.gov/pages/viewpage.action?pageId=2172176006" target="_blank">Max.gov</a> page. Invitations to upcoming events and working groups are through our listserv.</p>
	

	
	<div class="community-quote">
		<p>“{{ page.testimonial }}”</p>
		<p class="quote-citation">— {{ page.testimonial-citation }}</p>
	</div>
	
	
	<h2 id="cop-focus">Working Groups</h2>
	<p>The AI CoP working groups are composed of community members working on a specific topic to empower the federal AI community by designing and developing products, tools, frameworks necessary to support practical implementation and use of responsible, trustworthy AI. All AI CoP community members are welcomed to join existing working groups and/or request the creation of a new group. Current working groups include:</p>
	<ul>
		<li>Privacy and AI </li>
		<li>Responsible AI</li>
		<li>Computer Vision</li>
		<li>Natural Language Processing</li>
	</ul>


<!-- Activity
    
      <h2 id="coe-updates">Activity</h2>
      {% assign filtered_posts = site.posts | where: 'cop', page.title %}
      {% for post in filtered_posts %}
	<div class="blog-cop-container">
		<div class="usa-width-one-third">
			<a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">
				<img class="cop-blog-feature-image" src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}"> 
			</a>
		</div>
		<div class="usa-width-two-thirds">
			  {% include article-head.html show_post_excerpt = true %}
		</div>
	</div>
	<div class="blog-cop-line"></div>
      {% endfor %}
	

-->
	
	<div id="join-cop"></div>
	<h2 id="cop-join">Join the AI CoP!</h2>
	<p>Any federal employee is welcome to become a member of the AI CoP. Through the AI CoP listserv, members can: </p>
	<ul>
		<li>Join monthly community meetings</li>
		<li>Participate in working groups</li>
		<li>Attend virtual trainings & events</li>
		<li>Connect with their peers through the CoP’s listserv</li>
	</ul>
	<p>Join the AI CoP listserv by emailing <a href="mailto:AI-subscribe-request@listserv.gsa.gov" class=""><strong>AI-subscribe-request@listserv.gsa.gov</strong></a> with an empty subject line. </p>
	<p><strong>Note:</strong> Federal government employees only are eligible to join. </p>
		
	<a href="mailto:AI-subscribe-request@listserv.gsa.gov" class="usa-button">Join by Email</a>
	
    </div> <!-- /.usa-width-two-thirds -->
   
	
	<div class="usa-width-one-third "> <!-- sticky sidebar -->
        <div class="sidebar-box communities-sidebar">
			
			<a href="#join-cop" class="usa-button cop-button">Join the AI CoP</a>
			
			
         
           {% include cop-sidebar.html %}
			
			
			<div>
				<h4>Related Policies and Resources</h4>
				<ul>
					<li><a href="https://www.ai.gov/" target="_blank">AI.gov</a>, The National Artificial Intelligence Initiative</li>				
					 <li>{% include download_pdf.html download_title="AI Governance Toolkit"
						download_url="docs/AICoP-AIGovernanceToolkit.pdf" %}, AI CoP </li>
				</ul>
			
			</div>

			
			<div>
				<h4>AI Community Managers</h4>
				<ul>
					<li>Eric Ewing, GSA</li>
					<li>Sabrina Mohamed, GSA </li>
				</ul>
				<h4>AI CoP Steering Committee</h4>
				<ul>
					<li>Gil Alterovitz, VA</li>
					<li>Sanja Basaric, HHS</li> 
					<li>David Danks, USC - San Diego</li>
					<li>Sorelle Friedler, OSTP</li?
					<li>Luke Keller, Census</li>
					<li>Krista Kinnard, DOL</li>
					<li>Kate McCall-Kiley, Census</li>
					<li>Suresh Venkatsubmaranian, OSTP</li>
				</ul>
			</div>
        </div>
       
		
    </div> <!-- /.usa-width-one-third -->
	
	
</section> <!-- /.usa-grid -->
