---
layout: communities
title: Artificial Intelligence
tagline: Join the conversation
intro: "Artificial intelligence, the ability of machines to pattern human behavior at scale, is used in an increasing number of ways to help government agencies meet their missions."


---

<section class="usa-section communities-header cop-artifical-intelligence">
	<div class="usa-grid ">
	
		<div class="usa-width-one-whole">
			<h1>Community of Practice: <strong>{{ page.title }}</strong></h1>
			<p class="intro">{{ page.tagline }}</p>
		</div>
	</div>
	</section>
		
<section class="usa-section communities-page-intro ">
	<div class="usa-grid ">
		<div class="usa-width-one-whole">
			<p>{{ page.intro }}</p>

		</div>	
	</div>
	
</section>		

<section class="usa-grid usa-section">  


<div class="usa-width-two-thirds">

      <h2>About the AI Community of Practice</h2>
	<div class="community-about">
      	<p>The <strong>Artificial Intelligence Community of Practice (AI CoP)</strong> unites federal employees who are active or interested in AI policy, technology, standards, and programs to accelerate the thoughtful adoption of AI across the federal government. We are an active community of 1200 members across 60 federal agencies.</p>

		<p>Any federal employee or mission-supporting contractor is welcome to become a member of the AI CoP. Members can join monthly community meetings, participate in focus areas, attend virtual trainings & events, and connect with their peers through the CoP’s listserv.</p>

		<p>Founded in partnership with the office of the Federal Chief Information Officer (CIO) at the Office of Management and Budget (OMB) in 2020,  the AI CoP supports the practical implementation of responsible AI in the federal government. We bring federal employees together through a monthly newsletter, events, and focus areas.</p>
	</div>

  
   <h2 id="cop-events">Events</h2>
	<p>The AI CoP regularly organizes and runs events on AI topics for government-wide audiences to promote key stakeholder AI efforts and case studies through presentations. Access to our events and focus areas is through our listserv.</p>

	<p>The AI CoP also hosts monthly huddles to connect AI leaders, practitioners, and researchers through an open forum.</p>
	
	<h3>Find Past Presentations</h3>
	<p>Members can find past presentations & resources on our <a href="https://portal.max.gov/portal/home" target="_blank">Max.gov page</a>.</p>
	
	<div class="community-quote">
		<p>“The AI Community of Practice has enhanced my ability to grasp lorem ipsum dolor by many lorem ipsum dolor.”</p>
		<p class="quote-citation">— George Smith, Senior Executive Analyst, NASA</p>
	
	</div>
	
	
	<h2 id="cop-focus">Focus Area</h2>
	<p>Focus Areas, or working groups are composed of community members  working on a specific topic to empower the federal AI community by designing and developing products, tools, frameworks necessary to support practical implementation and use of responsible, trustworthy AI. All AI CoP community members are welcomed to join existing focus areas and/or request the creation of a new area. Current focus areas include:</p>
	<ul>
		<li>Privacy and AI </li>
		<li>Responsible AI</li>
		<li>Computer Vision</li>
		<li>Natural Language Processing</li>
	</ul>



    
      <h2 id="coe-updates">Activity</h2>
      {% assign filtered_posts = site.posts | where: 'cop', page.title %}
      {% for post in filtered_posts %}
	<div class="blog-cop-container">
		<div class="cop-blog-image">
			<a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">
				<img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}"> 
			</a>
		</div>
		<div class="cop-blog-title-text">
			  {% include article-head.html show_post_excerpt = true %}
		</div>
	</div>
	<div class="blog-cop-line"></div>
      {% endfor %}
	
	
	<div id="join-cop"></div>
	<h2 id="cop-join">Join the AI CoP!</h2>
	<p>Any federal employee is welcome to become a member of the AI CoP. Through the AI CoP listserv, members can: </p>
	<ul>
		<li>Join Monthly community meetings</li>
		<li>Participate in working groups</li>
		<li>Attend virtual trainings & events</li>
		<li>Connect with their peers through the CoP’s listserv</li>
	</ul>
	<p>Join the AI CoP list serv by emailing: <a href="mailto:AI-subscribe-request@listserve.gsa.gov" class=""><strong>AI-subscribe-request@listserve.gsa.gov</strong></a> with an empty subject line. Note you mush have a .gov or .mil email to join</p>
	
	<a href="mailto:AI-subscribe-request@listserve.gsa.gov" class="usa-button">Join by Email</a>
	
    </div> <!-- /.usa-width-two-thirds -->
   
	
	<div class="usa-width-one-third "> <!-- sticky sidebar -->
        <div class="sidebar-box communities-sidebar">
			
			<a href="#join-cop" class="usa-button cop-button">Join the AI CoP</a>
			
			
         
            <div class="sidebar-box-content  communities-sidebar-main-text">
				<img src="/img/ai-sidebar-photo.jpg" alt="">
                <h4 class="first">Grow your Expertise in Areas that Matter Across Government</h4>
                <p><strong>Communities of practice</strong> are government-wide interest groups that provide opportunities for members to support, challenge and inspire one another. Cross-disciplinary and cross-agency by design, the goal of the communities is to expand your knowledge and practice in a given area of interest. You get what you give, so we encourage active participation through networking, discussions, live and virtual events and more.</p>
				
				<h4>Current Active CoPs</h4>
				<ul>
					<li><a href="#">Artificial Intelligence (AI CoP)</a></li>
					<li><a href="#">Innovation Adoption (IA CoP)</a></li>
					<li><a href="#">Contact Center (CC CoP)</a></li>
				</ul>
            </div>
			<div>
				<h4>Related Policies and Resources</h4>
				<ul>
					<li>AI Guide for Government (coming soon)</li>
					<li>AI Governance Toolkit (coming soon)</li>
					<li>Model Cards (coming soon)</li>
				</ul>
			
			</div>
			
			<div>
				<h4>AI Community Managers</h4>
				<ul>
					<li>Eric Ewing, GSA</li>
					<li>Sabrina Mohamed, GSA </li>
				</ul>
			</div>
        </div>
       
		
    </div> <!-- /.usa-width-one-third -->
	
	
</section> <!-- /.usa-grid -->