---
layout: communities
title: Artificial Intelligence
tagline: Join the conversation
intro: "Artificial Intelligence adoption is rapidly becoming crucial for government agencies to improve service delivery and achieve their missions."
redirect_from:
  - /ai-cop/

testimonial: The AI Community of Practice and the cross-agency collaboration it has fostered has been instrumental in providing the diversity of thought that has shaped my responsible AI work.
testimonial-citation: Maria Patterson, Presidential Innovation Fellow, Department of Labor

---

<section class="usa-section communities-header cop-artifical-intelligence">
	<div class="usa-grid ">
	
		<div class="usa-width-one-whole">
			<h1>Community of Practice: <strong>{{ page.title }}</strong></h1>
			<p class="intro cop-intro">{{ page.tagline }}</p>
		</div>
	</div>
	</section>
		
<section class="usa-section communities-page-intro ">
	<div class="usa-grid ">
		<div class="usa-width-one-whole">
			<p>{{ page.intro }}</p>

		</div>	
	</div>
	
</section>		

<section class="usa-grid usa-section">  


<div class="usa-width-two-thirds">

      <h2>About the AI Community of Practice</h2>
	<div class="community-about">
      	<p>The <strong>Artificial Intelligence Community of Practice (AI CoP)</strong> serves as a pivotal network for government employees engaged in or interested in artificial intelligence, bringing together over 12,00 members from over 100 federal, state, and local government agencies. Our community is dedicated to accelerating the responsible and thoughtful adoption of AI technologies across the government.</p>

		<p>Membership is open to all government employees and mission-supporting contractors with a .gov and .mil email address. As a member, you can participate in monthly community meetings, engage in specialized working groups, attend virtual training sessions and events, and connect with peers through our community forum. Our community provides a rich platform for knowledge-sharing and collaboration on AI policy, technology, standards, and programs.</p>

		<p>Established in 2020 in partnership with the Office of the Federal Chief Information Officer (CIO) at the Office of Management and Budget (OMB), the AI CoP is instrumental in guiding the practical implementation of responsible AI within the U.S. government. We facilitate this through a variety of channels, including a monthly newsletter, diverse events, and active working groups.</p>
		
		<p><strong>Our vision:</strong> To embed the responsible deployment of artificial intelligence and machine learning as a fully integrated and normalized practice within the U.S. Government, enhancing efficiency, innovation, and public service.
 		<p><strong>Our mission:</strong> To cultivate a comprehensive knowledge base and an inter-agency forum that empowers the government workforce with best practices, tools, and resources for the ethical and effective deployment of artificial intelligence and machine learning.
  
	</div>

  
   <h2 id="cop-events">Events</h2>
	<p>In FY 2023, the AI CoP hosted 27 government-wide events characterized by high attendee satisfaction, which have been instrumental in providing cross-government guidance and showcasing innovative AI applications in government operations.</p>
	<p>Community members can find past presentations & resources on our <a href="https://community.connect.gov/pages/viewpage.action?pageId=2172176006" target="_blank">community connect page</a>. </p>

   <h3>AI Training for Government Employees</h3>
	<p>We are dedicated to empowering government employees with essential AI knowledge and skills. A key initiative in this endeavor is our recent collaboration with Stanford University for a tailored AI training series. This program, designed to cover both fundamental and advanced AI concepts, equips our workforce with the tools needed for responsible and effective AI implementation in government services. Through such targeted training, we ensure our employees are at the forefront of AI utilization, enhancing service delivery and mission achievement. </p>
    	<h4>2023 Training Series</h4>
		<p>Almost 5,000 government employees attended the 2023 AI Training series. Now, government employees can access recordings of the 2023 training sessions on our <a href="https://community.connect.gov/display/GSA/2023+Stanford+HAI+Training+Series?src=sidebar" target="_blank">community connect page</a> with a .gov or .mil email address. If you are a government employee who is unable to access our community connect page, please email <a href="mailto:aicop@gsa.gov">aicop@gsa.gov</a> with "Request for AI Training Links" in the subject line. They are also available for Continuous Learning Points on <a href="https://dau.csod.com/ui/lms-learning-details/app/curriculum/2329bb79-b2a0-4197-be4f-7a7a7602a1e0" target="_blank">FAI.gov.</a> </p>
	<h4>2024 Training Series</h4>
		<p>Coming Soon! The next training series is being planned for the fall of 2024. This year's curriculum will be role-based with Acquisition, Leadership, and Technical tracks. Sessions will be led by George Washington University, Princeton University, and Stanford University faculty. Please <a href="https://public.govdelivery.com/accounts/USGSATTS/subscriber/new?topic_id=USGSATTS_112">join the AI CoP mailing list</a> for 2024 training updates.
</p>
	
    <h3>Applied AI Challenges</h3>
	<p>In 2023, the AI CoP organized two Applied AI Challenges focusing on <a href="https://www.challenge.gov/?challenge=applied-ai-healthcare-challenge">Healthcare</a> and <a href="https://www.challenge.gov/?challenge=appliedaichallengellms"> Large Language Models</a>, attracting over 140 applications. These challenges highlighted innovative AI solutions and showcased how industry-government collaboration can advance AI maturity within agencies.</p>

	
	<div class="community-quote">
		<p>“{{ page.testimonial }}”</p>
		<p class="quote-citation">— {{ page.testimonial-citation }}</p>
	</div>
	
	
	<h2 id="cop-focus">AI CoP Operations</h2>
		<p>The AI CoP offers different opportunities for members to get involved based on their unique skills and interests: </p>
	<h3>Working Groups</h3>
		<p>AI CoP Working Groups are designed to enhance the community itself. Members can join a working group to help improve the member experience and find new ways to support government workers: </p>
	<ul>
		<li>Event Planning</li>
		<li>Community Outreach</li>
		<li>External Collaborations</li>
		<li>Tools and Resources</li>
	</ul>
	<h3>Practice Areas</h3>
		<p>AI CoP Practice Areas are topic-focused groups that organize around specific areas of interest. These groups are community driven and will continue to evolve over time to meet the changing interests of our members. Current Practice Areas include: </p>
	<ul>
		<li>Generative AI</li>
		<li>Reinforcement Learning</li>
		<li>AI Security</li>
		<li>Natural Language Processing</li>
		<li>Computer Vision</li>	
	</ul>


<!-- Activity
    
      <h2 id="coe-updates">Activity</h2>
      {% assign filtered_posts = site.posts | where: 'cop', page.title %}
      {% for post in filtered_posts %}
	<div class="blog-cop-container">
		<div class="usa-width-one-third">
			<a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">
				<img class="cop-blog-feature-image" src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}"> 
			</a>
		</div>
		<div class="usa-width-two-thirds">
			  {% include article-head.html show_post_excerpt = true %}
		</div>
	</div>
	<div class="blog-cop-line"></div>
      {% endfor %}
	

-->
	
	<div id="join-cop"></div>
	<h2 id="cop-join">Join the AI CoP!</h2>
	<p>The AI CoP is committed to evolving into a global resource ecosystem for responsible AI adoption and training. We aim to extend our collaborations with industry and academia, provide more high-value AI training sessions, and continue hosting impactful AI related events. Together we are fostering a future where AI is leveraged to enhance government efficiency and public service.<p>
		
	<p>Through the AI CoP mailing list, members can: </p>
	<ul>
		<li>Learn about working groups and practice areas</li>
		<li>Attend virtual trainings & events</li>
		<li>Explore opportunities to connect with their peers</li>
	</ul>
	<a href="https://public.govdelivery.com/accounts/USGSATTS/subscriber/new?topic_id=USGSATTS_112" class="usa-button">Join the AI CoP Mailing List</a>
	<p><strong>Note:</strong> Only government employees are eligible to join. </p>
		
	
	
    </div> <!-- /.usa-width-two-thirds -->
   
	
	<div class="usa-width-one-third "> <!-- sticky sidebar -->
        <div class="sidebar-box communities-sidebar">
			
			<a href="#join-cop" class="usa-button cop-button">Join the AI CoP</a>
			
			
         
           {% include cop-sidebar.html %}
			
			
			<div>
				<h4>Related Policies</h4>
				<ul>
					<li><a href="https://www.congress.gov/118/bills/hr4503/BILLS-118hr4503ih.xml" target="_blank">AI Training Act</a></li>
					<li><a href="https://www.federalregister.gov/documents/2020/12/08/2020-27065/promoting-the-use-of-trustworthy-artificial-intelligence-in-the-federal-government" target="_blank">EO 13960</a>, Promoting the Use of Trustworthy Artificial Intelligence in the Federal Government</li>
					<li><a href="https://www.federalregister.gov/documents/2023/11/01/2023-24283/safe-secure-and-trustworthy-development-and-use-of-artificial-intelligence" target="_blank">EO 14110</a>, Safe, Secure, and Trustworthy Development and Use of Artificial Intelligence</li>
					<li><a href="https://www.whitehouse.gov/wp-content/uploads/2024/03/M-24-10-Advancing-Governance-Innovation-and-Risk-Management-for-Agency-Use-of-Artificial-Intelligence.pdf" target="_blank">OMB-24-10</a>, Advancing Governance Innovation and Risk Management for Agency Use of Artificial Intelligence</li>					
					<li><a href="https://www.congress.gov/116/plaws/publ283/PLAW-116publ283.pdf" target="_blank">Artificial Intelligence in Government Act</a></li>				
					<li><a href="https://www.ai.gov/" target="_blank">AI.gov</a>, The National Artificial Intelligence Initiative</li>				
				</ul>
				<h4>Resources and Reports</h4>
				<ul>
					<li><a href="https://itvmo.gsa.gov/genai/" target="_blank">GSA's Generative AI and Specialized Computing Infrastructure Acquisition Resource Guide</a></li>
					<li>{% include download_pdf.html download_title="AI Governance Toolkit" download_url="docs/AICoP-AIGovernanceToolkit.pdf" end_title=", AI CoP"%} </li>
					<li>{% include download_pdf.html download_title="AI CoP FY23 Annual Report" download_url="docs/AICoP_FY23_Report.pdf" end_title=", AI CoP"%} </li>
				</ul>
			
			</div>

			
			<div>
				<h4>Community Managers</h4>
				<ul>
					<li>Nathan Manzotti, GSA</li>
					<li>Ryan Dolan, GSA</li>
				</ul>
			</div>

			<div>
				<h4>Future Vision</h4>
				<ul>
					<li>Collaborate with federal executives</li>
					<li>Develop a network of experts</li>
					<li>Build an ecosystem of AI communities</li>
					<li>Foster a collaborative platform</li>
				</ul>
			</div>
        </div>
       
	
		
    </div> <!-- /.usa-width-one-third -->
	
	
</section> <!-- /.usa-grid -->
