---
layout: communities
title: Government Contact Center Community (G3C)
tagline: Join the conversation
intro: "Government contact centers are often the primary means of communication between an organization and its customers. In government, customer experiences in contact centers often set expectations for satisfaction and trust across the customer experience. Simply put, the voice of the organization and the customer is fostered across the contact center experience. "

testimonial: The G3C Community of Practice has enhanced my ability to grasp lorem ipsum dolor by many lorem ipsum dolor.
testimonial-citation: George Smith, Senior Executive Analyst, NASA

---

<section class="usa-section communities-header cop-contact">
	<div class="usa-grid ">
	
		<div class="usa-width-one-whole">
			<h1>Community of Practice: <strong>{{ page.title }}</strong></h1>
			<p class="intro cop-intro">{{ page.tagline }}</p>
		</div>
	</div>
	</section>
		
<section class="usa-section communities-page-intro ">
	<div class="usa-grid ">
		<div class="usa-width-one-whole">
			<p>{{ page.intro }}</p>

		</div>	
	</div>
	
</section>		

<section class="usa-grid usa-section">  


<div class="usa-width-two-thirds">

      <h2>About the G3C</h2>
	<div class="community-about">
      	<p>The G3C is a collaborative  interagency group of contact center professionals that work together to improve the performance, experience, and efficiency of government contact centers across  federal, tribal, state, and local agencies.</p>


		<p>The G3C brings leaders together to explore methods of service delivery that improve customer experience. The community’s mission is to share information and news, identify contact center best-in-class practices, and evaluate evolving contact center technologies.</p> 

		<p>G3C’s educational forums and discussions help members find innovative methods to improve the customer experience with their agency’s contact centers. Members share ideas, ask questions, and request assistance on their agency’s projects through our community listserv. All federal, tribal, local, and state government employees working towards  best-in-class contact centers are invited to join the G3C.</p>

	</div>

  
   <h2 id="cop-events">Events</h2>
	<p>G3C hosts monthly meetings to connect with colleagues across agencies, learn about each other's best practices in contact center operations and share success stories and lessons learned implementing new or innovative tools or technologies. The community also hosts educational webinars, and networking events. Access to events are shared through our listserv. </p>
	
	
		<!-- Testimonials 
	
	<div class="community-quote">
		<p>“{{ page.testimonial }}”</p>
		<p class="quote-citation">— {{ page.testimonial-citation }}</p>
	</div>

		-->
	
	
	<!-- Activity
    
      <h2 id="coe-updates">Activity</h2>
      {% assign filtered_posts = site.posts | where: 'cop', page.title %}
      {% for post in filtered_posts %}
	<div class="blog-cop-container">
		<div class="usa-width-one-third">
			<a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">
				<img class="cop-blog-feature-image" src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}"> 
			</a>
		</div>
		<div class="usa-width-two-thirds">
			  {% include article-head.html show_post_excerpt = true %}
		</div>
	</div>
	<div class="blog-cop-line"></div>
      {% endfor %}
	

-->
	
	<div id="join-cop"></div>
	<h2 id="cop-join">Join Us!</h2>
	<p>Any federal, state, local, or tribal employee is welcome to become a member of the G3C. Through the G3C listserv, members can:</p>
	<ul>
		<li>Join Monthly community meetings</li>
		<li>Attend virtual trainings & events</li>
		<li>Connect with their peers through the CoP’s listserv</li>

	</ul>
	<p>To join, email <a href="mailto:G3C-subscribe-request@listserv.gsa.gov" class=""><strong>G3C-subscribe-request@listserv.gsa.gov</strong></a> with nothing in the subject.</p>
		<p><strong>Note:</strong> Federal, state, local, and tribal government employees only are eligible to join.</p>

	<a href="mailto:G3C-subscribe-request@listserv.gsa.gov" class="usa-button">Join by Email</a>
	
    </div> <!-- /.usa-width-two-thirds -->
   
	
	<div class="usa-width-one-third "> <!-- sticky sidebar -->
        <div class="sidebar-box communities-sidebar">
			
			<a href="#join-cop" class="usa-button cop-button">Join the G3C CoP</a>
			
			
         {% include cop-sidebar.html %}
            
			<div>
				<h4>Related Policies and Resources</h4>
				<ul>
					<li><a href="https://www.performance.gov/cx/executive-order/" target="_blank">Executive Order</a> on Transforming Federal Customer Experience and Service Delivery to Rebuild Trust in Government (December 13, 2021)</li>
					<li>Office of Management and Budget (OMB) <a href="https://www.whitehouse.gov/wp-content/uploads/2018/06/a11.pdf" target="_blank">Circular No. A-11</a> — this December 2020 revision removes Part 6, “The Federal Performance Framework for Improving Program and Service Delivery”</li>
					<li><a href="https://www.performance.gov/cx/" target="_blank">Transforming Customer Experience (CX)</a>, Performance.gov</li>
					 
	
				</ul>
			
			</div>
			
			<div>
				<h4>Community Managers</h4>
				<ul>
					<li>Tim Cossairt, TSA</li>
					<li>Meghan Daly, GSA</li>
				</ul>
			</div>
        </div>
       
		
    </div> <!-- /.usa-width-one-third -->
	
	
</section> <!-- /.usa-grid -->
