---
layout: communities
title: Innovation Adoption
tagline: Join the conversation
intro: "Government contact centers are often the primary means of communication between an organization and its customers. In government, customer experiences in contact centers often set expectations for satisfaction and trust across the customer experience. Simply put, the voice of the organization and the customer is fostered across the contact center experience. "


---

<section class="usa-section communities-header cop-innovation">
	<div class="usa-grid ">
	
		<div class="usa-width-one-whole">
			<h1>Community of Practice: <strong>{{ page.title }}</strong></h1>
			<p class="intro">{{ page.tagline }}</p>
		</div>
	</div>
	</section>
		
<section class="usa-section communities-page-intro ">
	<div class="usa-grid ">
		<div class="usa-width-one-whole">
			<p>{{ page.intro }}</p>

		</div>	
	</div>
	
</section>		

<section class="usa-grid usa-section">  


<div class="usa-width-two-thirds">

      <h2>About the G3C</h2>
	<div class="community-about">
      	<p>The G3C is a collaborative  interagency group of contact center professionals that work together to improve the performance, experience, and efficiency of government contact centers across  federal, tribal, state, and local agencies.</p>


		<p>The G3C brings leaders together to explore methods of service delivery that improve customer experience. The community’s mission is to share information and news, identify contact center best-in-class practices, and evaluate evolving contact center technologies.</p> 

		<p>G3C’s educational forums and discussions help members find innovative methods to improve the customer experience with their agency’s contact centers. Members share ideas, ask questions, and request assistance on their agency’s projects through our community listserv. All federal, tribal, local, and state government employees working towards  best-in-class contact centers are invited to join the G3C.</p>

	</div>

  
   <h2 id="cop-events">Events</h2>
	<p>G3C hosts monthly meetings to connect with colleagues across agencies, learn about each other's best practices in contact center operations and share success stories and lessons learned implementing new or innovative tools or technologies. The community also hosts educational webinars, and networking events. Access to events are shared through our listserv. </p>
	
	<div class="community-quote">
		<p>“The AI Community of Practice has enhanced my ability to grasp lorem ipsum dolor by many lorem ipsum dolor.”</p>
		<p class="quote-citation">— George Smith, Senior Executive Analyst, NASA</p>
	
	</div>
	
	
	<h2 id="cop-focus">Focus Area</h2>
	<p>Focus Areas, or working groups are composed of community members  working on a specific topic to empower the federal AI community by designing and developing products, tools, frameworks necessary to support practical implementation and use of responsible, trustworthy AI. All AI CoP community members are welcomed to join existing focus areas and/or request the creation of a new area. Current focus areas include:</p>
	<ul>
		<li>Privacy and AI </li>
		<li>Responsible AI</li>
		<li>Computer Vision</li>
		<li>Natural Language Processing</li>
	</ul>



    
      <h2 id="coe-updates">Activity</h2>
      {% assign filtered_posts = site.posts | where: 'cop', page.title %}
      {% for post in filtered_posts %}
	<div class="blog-cop-container">
		<div class="cop-blog-image">
			<a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">
				<img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}"> 
			</a>
		</div>
		<div class="cop-blog-title-text">
			  {% include article-head.html show_post_excerpt = true %}
		</div>
	</div>
	<div class="blog-cop-line"></div>
      {% endfor %}
	
	
	<div id="join-cop"></div>
	<h2 id="cop-join">Join the AI CoP!</h2>
	<p>Any federal employee is welcome to become a member of the AI CoP. Through the AI CoP listserv, members can: </p>
	<ul>
		<li>Join Monthly community meetings</li>
		<li>Participate in working groups</li>
		<li>Attend virtual trainings & events</li>
		<li>Connect with their peers through the CoP’s listserv</li>
	</ul>
	<p>Join the AI CoP list serv by emailing: <a href="mailto:AI-subscribe-request@listserve.gsa.gov" class=""><strong>AI-subscribe-request@listserve.gsa.gov</strong></a> with an empty subject line. Note you mush have a .gov or .mil email to join</p>
	
	<a href="mailto:AI-subscribe-request@listserve.gsa.gov" class="usa-button">Join by Email</a>
	
    </div> <!-- /.usa-width-two-thirds -->
   
	
	<div class="usa-width-one-third "> <!-- sticky sidebar -->
        <div class="sidebar-box communities-sidebar">
			
			<a href="#join-cop" class="usa-button cop-button">Join the AI CoP</a>
			
			
         
            <div class="sidebar-box-content  communities-sidebar-main-text">
				<img src="/img/ai-sidebar-photo.jpg" alt="">
                <h4 class="first">Grow your Expertise in Areas that Matter Across Government</h4>
                <p><strong>Communities of practice</strong> are government-wide interest groups that provide opportunities for members to support, challenge and inspire one another. Cross-disciplinary and cross-agency by design, the goal of the communities is to expand your knowledge and practice in a given area of interest. You get what you give, so we encourage active participation through networking, discussions, live and virtual events and more.</p>
				
				<h4>Current Active CoPs</h4>
				<ul>
					<li><a href="#">Artificial Intelligence (AI CoP)</a></li>
					<li><a href="#">Innovation Adoption (IA CoP)</a></li>
					<li><a href="#">Contact Center (CC CoP)</a></li>
				</ul>
            </div>
			<div>
				<h4>Related Policies and Resources</h4>
				<ul>
					<li>AI Guide for Government (coming soon)</li>
					<li>AI Governance Toolkit (coming soon)</li>
					<li>Model Cards (coming soon)</li>
				</ul>
			
			</div>
			
			<div>
				<h4>AI Community Managers</h4>
				<ul>
					<li>Eric Ewing, GSA</li>
					<li>Sabrina Mohamed, GSA </li>
				</ul>
			</div>
        </div>
       
		
    </div> <!-- /.usa-width-one-third -->
	
	
</section> <!-- /.usa-grid -->