---
layout: communities
title: Innovation Adoption
tagline: Join the conversation
intro: "Have you ever struggled to bring about changes that would improve government programs and services? Do you want to learn how to cut through skepticism and ignite an intrapreneurial mindset across your program or organization? Look no further."

testimonial: I joined the IA CoP to share lessons learned and meet other people like myself who are supporting innovation full-time.
testimonial-citation: Jillian Brooks, Deputy, Innovation Support Services, US Navy

---

<section class="usa-section communities-header cop-innovation">
	<div class="usa-grid ">
	
		<div class="usa-width-one-whole">
			<h1>Community of Practice: <strong>{{ page.title }}</strong></h1>
			<p class="intro cop-intro">{{ page.tagline }}</p>
		</div>
	</div>
	</section>
		
<section class="usa-section communities-page-intro ">
	<div class="usa-grid ">
		<div class="usa-width-one-whole">
			<p>{{ page.intro }}</p>

		</div>	
	</div>
	
</section>		

<section class="usa-grid usa-section">  


<div class="usa-width-two-thirds">

      <h2>About the Innovation Adoption Community of Practice</h2>
	<div class="community-about">
      	<p>Our purpose is to <strong>build innovation and intrapreneurship capacity</strong> across the federal government by generating and sharing useful information, advice, and assistance. </p>

		<p>We invite members to:</p>
		<ul>
			<li>Connect with new, practicing, and expert intrapreneurs in government.</li>
			<li>Learn to leverage available tools and technologies, including shared solutions.</li>
			<li>Explore your approaches to challenges, failure, how we work, and what’s possible.</li>
			<li>Collaborate with each other to create real change by sharing questions, stories, and advice.</li>
		</ul>


	</div>

  
   <h2 id="cop-events">Events</h2>
	<p>The IA CoP regularly hosts opportunities to:</p>
	<ul>
		<li>connect with peers, trail blazers and thought leaders,</li>
		<li>learn how to use relevant frameworks and honing your skills for making good things happen exploring common challenges and ways to turn them into opportunities,</li>
		<li>and collaborate to create a shared resource or solution. </li>
	</ul>
	 
	<p>Event updates and registration are accessible through the IA CoP listserv.</p>

	

	
	<div class="community-quote">
		
		<p>“{{ page.testimonial }}”</p>
		<p class="quote-citation">— {{ page.testimonial-citation }}</p>
	
	</div>


	
<!-- Activity	
    
      <h2 id="coe-updates">Activity</h2>
      {% assign filtered_posts = site.posts | where: 'cop', page.title %}
      {% for post in filtered_posts %}
	<div class="blog-cop-container">
		<div class="usa-width-one-third">
			<a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">
				<img class="cop-blog-feature-image" src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}"> 
			</a>
		</div>
		<div class="usa-width-two-thirds">
			  {% include article-head.html show_post_excerpt = true %}
		</div>
	</div>
	<div class="blog-cop-line"></div>
      {% endfor %}

-->
	
	
	<div id="join-cop"></div>
	<h2 id="cop-join">Join Us!</h2>
	<p>Any federal employee is welcome to become a member of the IA CoP. Through the IA CoP listserv, members receive information about how to: </p>
	<ul>
		<li>Join Monthly community meetings</li>
		<li>Attend virtual trainings & events</li>
		<li>Connect with their peers through the CoP’s listserv</li>

	</ul>
	<p>To join, email <a href="mailto:INNOVATION-ADOPTION-subscribe-request@listserv.gsa.gov" class=""><strong>INNOVATION-ADOPTION-subscribe-request@listserv.gsa.gov</strong></a> with nothing in the subject.</p>

	<p><strong>Note:</strong> Federal government employees only are eligible to join. </p>
	
	<a href="mailto:INNOVATION-ADOPTION-subscribe-request@listserv.gsa.gov" class="usa-button">Join by Email</a>
	
    </div> <!-- /.usa-width-two-thirds -->
   
	
	<div class="usa-width-one-third "> <!-- sticky sidebar -->
        <div class="sidebar-box communities-sidebar">
			
			<a href="#join-cop" class="usa-button cop-button">Join the IA CoP</a>
			
			
         
            {% include cop-sidebar.html %}
			
			
			Policies and Resources 
			
			<div>
				<h4>Related Policies and Resources</h4>
				<ul>
					<li>{% include download_pdf.html download_title="IA CoP Guiding Principles"
						download_url="docs/InnovationAdoptionCoPGuidingPrinciples.pdf" %} </li>
				</ul>
			
			</div>



			
			<div>
				<h4>Community Managers</h4>
				<ul>
					<li>Bethany Blakey, GSA</li>
					<li>Brooke Dine, HHS</li>
					<li>Julia Begley, CFPB</li>
					<li>Tina Chen, EPA</li>
					<li>Vanessa Watters, GSA</li>

				</ul>
			</div>
        </div>
       
		
    </div> <!-- /.usa-width-one-third -->
	
	
</section> <!-- /.usa-grid -->
