---
layout: default
coe: Infrastructure Optimization
---

<section class="usa-grid usa-section">
    <h1>Infrastructure Optimization</h1>
    <div class="usa-width-two-thirds">
        <p class="intro">Assists in optimizing data centers and reducing infrastructure costs.</p>

        <div class="page-nav">
            <a href="#accomplishments">Accomplishments</a> | <a href="#coe-updates">Latest Updates</a>
        </div>

        <h2 id="service-offerings">Service Offerings</h2>

        <ul>
            <li>Architecture assessments</li>
            <li>Optimization planning</li>
            <li>Network consolidation</li>
            <li>Data center consolidation</li>
            <li>New business models e.g. co-location</li>
        </ul>

        <h2 id="service-catalog">Service Catalog</h2>
    <p> The Data Analytics CoE helps make more efficient use of data management, analysis, and reporting capabilities.</p>
    <p>To be successful, the Data Analytics CoE’s services employ an approach that simultaneously identifies incremental improvements 
       to the present state while envisioning a desired future state that will achieve greater advancements in program outcomes. The team’s
       methodology is based on an open-source framework for mature information management that addresses a range of core competencies, including:</p>           
     <ul>
            <li>business process re-engineering,</li>
            <li>business intelligence,</li>
            <li>enterprise data collection and management,</li>
            <li>Mdata governance, and</li>
            <li>data visualization and reporting.</li>
        </ul>
    
     

    <h2>Latest Updates!</h2>

{% for tags in site.tags %}
  <h3>{{ tags[Infrastructure Optimization] }}</h3>
  <ul>
    {% for post in tags[Infrastructure Optimization] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
 

        <h2 id="coe-updates">Latest Updates</h2>
        <article>
            <em class="date">May 17, 2018</em>
            <h3 class="title"><a href="{{site.baseurl}}/2018/05/17/io-update-1.html">18 Data Centers Closed</a></h3>

            <p>IT Infrastructure Optimization CoE is supporting the USDA with their consolidation of data centers from 39 to 2. With accelerated closure planning and data center site visits, USDA has already met their closure goal for FY18 by closing 18 data centers. The CoE and USDA will continue to accelerate closures by helping agencies develop their migration planning/project plans for the remaining data centers scheduled to close in FY19. The CoE is supporting USDA mission areas by conducting application rationalization assessments on applications impacted by closures. The IT Infrastructure Optimization CoE is working with agency stakeholders, assessing the value of these closures to USDA, and providing executive briefings on the progress USDA is making towards its modernization work.</p>
            <div class="usa-width-two-thirds">
            </div>
        </article>
   
    </div> <!-- /.usa-width-two-thirds -->
    <div class="usa-width-one-third sticky sidebar">

        <div class="sidebar-box coe-io">
            <div class="centers-graphic"></div>
            <div class="sidebar-box-content">
                <h4 class="first">Explore Infrastructure Optimization CoE</h4>
                <div style="min-height: 3rem;"><a href="{{site.baseurl}}/docs/Infra_Opt_One_Page_Service_Catalog.pdf" target="_blank" class="pdf">Infrastructure Optimization Service Catalog <img class="icon" src="{{site.baseurl}}/images/icon-pdf.png" alt="View the PDF"></a></div>

            </div>
        </div>

    </div> <!-- /.usa-width-one-third -->
</section> <!-- /.usa-grid -->
