---
layout: default
title: Updates

---

<section class="usa-grid usa-section content-focus">
    <h1>Latest Updates</h1>
    <p class="intro">Every month, our team posts updates on our work, best practices or progress. Please visit this page often to see the latest information on the Centers of Excellence.</p>    

    {% for post in site.posts %}
        <div class="article-head">
            <em class="date">{{ post.date | date: '%B %d, %Y' }}</em>
            {% include initiative.html initiative=post.initiative %}
            <h3 class="title"><a href="{{post.url}}">{{post.title}}</a></h3>
        </div>
    {% endfor %}

    <p>For all press inquiries, please contact <a href="mailto:press@gsa.gov">press@gsa.gov</a></p>

</section> 
