{% include header.html %}
<div class="ai-bok">
  <div id="ai-bok__hero">
    <section class="usa-grid usa-section">
      <h1>AI Guide for Government</h1>
      <p>
        A living and evolving guide to the application of Artificial
        Intelligence for the U.S. federal government.
      </p>
    </section>
    <!-- /.usa-grid -->
  </div>


  <section class="usa-grid usa-section usa-layout-docs">
    <aside class="usa-width-one-fourth usa-layout-docs-sidenav sidenav">
      {% include ai-bok-sidenav.html  %}
    </aside>
    <div class="usa-width-three-fourths usa-layout-docs-main_content ai-bok__content">
      <div class="clearfix">
        <h1 class="title">{{page.title}}</h1>
        <article class="usa-content">
        {{ content }}
        </article>
        {% include ai-bok-next-prev.html  %}
      </div>
    </div>
  </section>
</div> 

{% include footer.html %}


<link
  rel="stylesheet"
  type="text/css"
  href="styles.css"
/>
