---
layout: default
---

{% include sidenav.html %}

<div class="usa-width-three-fourths usa-layout-docs-main_content">

  <h1 class="post-title">{{ page.title | escape }}</h1>


  <div class="post-content">
    <div class="deck">{{ page.deck | escape }}</div>
    <div class="page-nav">
      <a href="#accomplishments">Accomplishments</a> | <a href="#coe-updates">Latest Updates</a>
    </div>

    {{ content }}
  </div>

  {% include latest-updates.html %}

  {% include post-meta.html %}

</div>
