<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PBX86M3"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <a class="usa-skipnav" href="#main-content">Skip to main content</a>

  {% include header.html %}

  <main class="usa-grid usa-section usa-content usa-layout-docs" id="main-content">

    {{ content }}

  </main>

  {% include footer.html %}

</body>
</html>
