---
layout: default
---

{% include sidenav.html %}

<div class="usa-width-three-fourths usa-layout-docs-main_content">

  <h1 class="post-title">{{ page.title | escape }}</h1>

  <div class="post-content">
    <div class="deck">{{ page.deck | escape }}</div>
    {{ content }}
    {% include quotes.html %}
    <a href="{{ '/join-us/' | absolute_url }}" title=""><img class="fox" src="{{ 'assets/img/fox.png' | absolute_url }}" title="Foxes are nimble, quick and alert. Be the fox." alt="Foxes are nimble, quick and alert. Be the fox."></a>
  </div>

  {% include post-meta.html %}

</div>
