---
layout: default
---
<div class="team-page">
    <section class="usa-grid usa-section reduce-bottom">
        <h1>{{ page.title }}</h1>
		<p class="intro">{{ page.tagline }}</p>
        <div class="usa-width-one-whole">
          {% for team in page.teams %}
            <h2 style="text-align=center;">{{ team.title }}</h2>
            <div class="team-members usa-grid">
              {% for person in team.people %}
                <div class="usa-width-one-sixth person">
                  {% if person.bio %}
                    <button role="tooltip" data-tippy="<strong>{{person.name}}</strong><p>{{ person.bio }}</p>" data-tippy-arrow="true" data-tippy-theme="light-border">
                    {% if person.img %}
                      <img src="{{site.baseurl}}{{"/images/team/" | append: person.img }}" alt=""/>
                    {% endif %}
                    </button>
                  {% else %}
                    {% if person.img %}
                      <img src="{{site.baseurl}}{{"/images/team/" | append: person.img }}" alt=""/>
                    {% endif %}
                  {% endif %}
                  <p>
                    {% if person.linkedin %}
                      <a href="{{"https://www.linkedin.com/in/" | append: person.linkedin }}" />
                        {{ person.name }}
                      </a>
                    {% else %}
                      {{ person.name }}
                    {% endif %}
                    {% if person.center %}
                      <br/>
                      {{person.center}}
                    {% endif %}
                  </p>
                </div>
              {% endfor %}
            </div> <!-- /.team-members -->
          {% endfor %}
        </div> <!-- /.usa-width-one-half -->
    </section> <!-- /.usa-grid -->
		<div style="text-align: center;">
        <h2>Work With Us</h2>
            <p>Learn more about the Centers of Excellence and discuss tools or solutions</p>
            <a href="{{site.baseurl}}/connect/contact-us.html" class="usa-button">Get Started</a>
		</div>
		<button onclick="btt()" id="btt"></button>
</div>

<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("teamBtn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>
