---
layout: default
---
<div class="team-page">
    <section class="usa-grid usa-section reduce-bottom">
        <h1>{{ page.title }}</h1>
        <div class="usa-width-one-whole">
          {% for team in page.teams %}
            <h2>{{ team.title }}</h2>
            <div class="team-members usa-grid">
              {% for person in team.people %}
                <div class="usa-width-one-sixth person">
                  {% if person.bio %}
                    <button role="tooltip" data-tippy="<strong>{{person.name}}</strong><p>{{ person.bio }}</p>" data-tippy-arrow="true" data-tippy-theme="light-border">
                    {% if person.img %}
                      <img src="{{site.baseurl}}{{"/images/team/" | append: person.img }}" alt=""/>
                    {% endif %}
                    </button>
                  {% else %}
                    {% if person.img %}
                      <img src="{{site.baseurl}}{{"/images/team/" | append: person.img }}" alt=""/>
                    {% endif %}
                  {% endif %}
                  <p>
                    {% if person.linkedin %}
                      <a href="{{"https://www.linkedin.com/in/" | append: person.linkedin }}" />
                        {{ person.name }}
                      </a>
                    {% else %}
                      {{ person.name }}
                    {% endif %}
                    {% if person.center %}
                      <br/>
                      {{person.center}}
                    {% endif %}
                  </p>
                </div>
              {% endfor %}
            </div> <!-- /.team-members -->
          {% endfor %}
        </div> <!-- /.usa-width-one-half -->
    </section> <!-- /.usa-grid -->
	<button onclick="btt()" id="btt"></button>
</div>
